<!DOCTYPE html>
<html lang="en" ng-app="kitchensink">
<head>
    <meta charset="utf-8">
    <title>placeholder</title>
    <link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="prism.css">
    <style>pre {
        margin-left: 15px !important
    }</style>
    <style>.thumb {
        height: 165px;
        border: 1px solid #000;
        margin: 1px 1px 10px 40px;
    }</style>
    <!--[if lt IE 9]>
    <script src="excanvas.js"></script>
    <![endif]-->
    <script src="fabric.js"></script>
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript'>

    function draw(ev) {
        console.log(ev);
        var ctx = document.getElementById('canvas').getContext('2d'),
            img = new Image(),
            f = document.getElementById("uploadimage").files[0],
            url = window.URL || window.webkitURL,
            src = url.createObjectURL(f);

        img.src = src;
        img.onload = function () {
            ctx.drawImage(img, 0, 0);
            url.revokeObjectURL(src);
        }
    }


    </script>

</head>
<body bgcolor="black">

<script>


    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = new Image();
            img.onload = function () {
                var imgInstance = new fabric.Image(img, {
                    scaleX: 0.2,
                    scaleY: 0.2
                })
                canvas.add(imgInstance);
            }
            img.src = event.target.result;
        }
        reader.readAsDataURL(e.target.files[0]);
    }
</script>
<script>
    (function () {

        // if (document.location.hostname === 'localhost') {
        //     for (var i = 0, len = links.length; i < len; i++) {
        //         links[i].href = links[i].href.replace('fabricjs.com', 'localhost:4000');
        //     }
        // }
        // else {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);

            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        // }
    })();
</script>
<script type='text/javascript'>

    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = new Image();
            img.onload = function () {
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0);
            }
            img.src = event.target.result;
        }
        reader.readAsDataURL(e.target.files[0]);
    }


</script>
<div id="bd-wrapper" ng-controller="CanvasControls">
    <!--[if IE]>
    <script src="../lib/fonts/Delicious.font.js"></script><![endif]-->
    <script src="bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="kitchensink.css">
    <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <div style="position:relative;width:400px;height:650px;float:left;" id="canvas-wrapper">
        <div id="canvas-controls">
        </div>
        <output id="list"></output>
        <canvas id="canvas" width="384" height="610"></canvas>

    </div>


    <div id="commands" ng-click="maybeLoadShape($event)">

        <div class="tab-content">

            <div class="tab-pane active" id="simple-shapes">
                <p>Add <strong>shapes</strong> to canvas:<label for="color" style="margin-left:10px">Color: </label>
                    <input type="color" style="width:40px" bind-value-to="fill"></p>

                <button type="button" class="btn rect" ng-click="addRect()">Rectangle</button>
                <button type="button" class="btn circle" ng-click="addCircle()">Circle</button>
                <button type="button" class="btn triangle" ng-click="addTriangle()">Triangle</button>
                <button type="button" class="btn line" ng-click="addLine()">Line</button>
                <button type="button" class="btn polygon" ng-click="addPolygon()">Polygon</button>
                <!--****************ADD IMAGE***************-->
                <br>
                <p style="margin-top: 10px;"><b>Add Image or map:</b>
                    <input type="file" id="imgLoader"></p>

                <b>Controls/Export:</b><br>
                <button class="btn btn-object-action" id="remove-selected" ng-click="removeSelected()">
                    Remove selected object/group
                </button>
                <button id="gradientify" class="btn btn-object-action" ng-click="gradientify()">Gradientify</button>
                <button id="shadowify" class="btn btn-object-action" ng-click="shadowify()">Shadowify</button>
                <br>
                <button id="send-backwards" class="btn btn-object-action" ng-click="sendBackwards()">Send backwards
                </button>
                <button id="send-to-back" class="btn btn-object-action" ng-click="sendToBack()">Send to back
                </button>
                <button id="bring-forward" class="btn btn-object-action" ng-click="bringForward()">Bring forwards
                </button>
                <button id="bring-to-front" class="btn btn-object-action" ng-click="bringToFront()">Bring to front
                </button>


                <!--</div>-->
                <div class="tab-pane" id="object-controls-pane">
                    <div style="margin-top: 10px;" id="global-controls">
                        <p>
                            Export canvas as:
                            <button class="btn btn-success" id="rasterize" ng-click="rasterize()">
                                Image
                            </button>
                            <button class="btn btn-success" id="rasterize-svg" ng-click="rasterizeSVG()">
                                SVG
                            </button>
                            <button class="btn btn-success" id="rasterize-json" ng-click="rasterizeJSON()">
                                JSON
                            </button>
                        </p>

                    </div>

                </div>
                <!--<div id="text-wrapper" style="margin-top: 10px" ng-show="getText()"> ************* use this one if you want it to hide-->
                <div style="float:left">
<!--****************LOOK AT CONTROLLERJS LINE 203************-->
                    <p><b>Field Names:</b>
                        <select id="fieldNames" onChange="$('textarea')[0].value+=value">
                            <option value="" class="ng-binding">Select from these fields</option>
                        </select>
                    </p>
                    <p><b>Employee Picture:</b>
                        <button type="button" class="btn rect" ng-click="databasesource()">Placeholder</button>
                    </p>
                    <p><b>Text/Label:</b>
                        <button class="btn" ng-click="addText()">Add text</button>
                    </p>
                    <textarea bind-value-to="text" ></textarea><br>
                    <div id="text-controls-additional">
                        <button type="button" class="btn btn-object-action" ng-click="toggleBold()"
                                ng-class="{'btn-inverse': isBold()}">
                            Bold
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-italic"
                                ng-click="toggleItalic()" ng-class="{'btn-inverse': isItalic()}">
                            Italic
                        </button><br>
                        <button type="button" class="btn btn-object-action" id="text-cmd-underline"
                                ng-click="toggleUnderline()" ng-class="{'btn-inverse': isUnderline()}">
                            Underline
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-linethrough"
                                ng-click="toggleLinethrough()" ng-class="{'btn-inverse': isLinethrough()}">
                            Linethrough
                        </button>
                        <button type="button" class="btn btn-object-action" id="text-cmd-overline"
                                ng-click="toggleOverline()" ng-class="{'btn-inverse': isOverline()}">
                            Overline
                        </button>
                    </div>
                </div>
                <div id="text-wrapper" style="margin-top: 5px; margin-left:10px; position:relative;float:right">
                    <div style="margin-left: 0px;" id="text-controls">
                        <label for="font-family" style="display:inline-block">Font family:</label>
                        <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
                            <option value="arial">Arial</option>
                            <option value="helvetica" selected>Helvetica</option>
                            <option value="myriad pro">Myriad Pro</option>
                            <option value="delicious">Delicious</option>
                            <option value="verdana">Verdana</option>
                            <option value="georgia">Georgia</option>
                            <option value="courier">Courier</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                            <option value="impact">Impact</option>
                            <option value="monaco">Monaco</option>
                            <option value="optima">Optima</option>
                            <option value="hoefler text">Hoefler Text</option>
                            <option value="plaster">Plaster</option>
                            <option value="engagement">Engagement</option>
                        </select>
                        <br>
                        <label for="text-align" style="display:inline-block">Text align:</label>
                        <select id="text-align" class="btn-object-action" bind-value-to="textAlign">
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                            <option>Justify</option>
                        </select>
                        <div>
                            <label for="text-bg-color">Background color:</label>
                            <input type="color" value="" id="text-bg-color" size="10" class="btn-object-action"
                                   bind-value-to="bgColor">
                        </div>
                        <div>
                            <label for="text-lines-bg-color">Background text color:</label>
                            <input type="color" value="" id="text-lines-bg-color" size="10"
                                   class="btn-object-action"
                                   bind-value-to="textBgColor">
                        </div>
                        <div>
                            <label for="text-stroke-color">Stroke color:</label>
                            <input type="color" value="" id="text-stroke-color" class="btn-object-action"
                                   bind-value-to="strokeColor">
                        </div>
                        <div>
                            <label for="text-font-size">Font size:</label>
                            <input type="range" value="" min="1" max="120" step="1" id="text-font-size"
                                   class="btn-object-action" bind-value-to="fontSize">
                        </div>
                        <div>
                            <label for="text-line-height">Line height:</label>
                            <input type="range" value="" min="0" max="10" step="0.1" id="text-line-height"
                                   class="btn-object-action" bind-value-to="lineHeight">
                        </div>
                    </div>
                    <!--**************************** right side of text edit part-->

                </div>


            </div>
        </div>

    </div>
</div>
</div>

<script>
    var kitchensink = {};
    var canvas = new fabric.Canvas('canvas');
</script>
<script src="utils.js"></script>
<script src="app_config.js"></script>
<script src="controller.js"></script>
</div>
<script>
    (function () {
        var mainScriptEl = document.getElementById('main');
        if (!mainScriptEl) return;
        var preEl = document.createElement('pre');
        var codeEl = document.createElement('code');
        codeEl.innerHTML = mainScriptEl.innerHTML;
        codeEl.className = 'language-javascript';
        preEl.appendChild(codeEl);
        document.getElementById('bd-wrapper').appendChild(preEl);
    })();
</script>
<script>
    (function () {
        fabric.util.addListener(fabric.window, 'load', function () {
            var canvas = this.__canvas || this.canvas,
                canvases = this.__canvases || this.canvases;

            canvas && canvas.calcOffset && canvas.calcOffset();

            if (canvases && canvases.length) {
                for (var i = 0, len = canvases.length; i < len; i++) {
                    canvases[i].calcOffset();
                }
            }
        });
    })();
</script>
<script>
    document.getElementById('imgLoader').onchange = function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            console.log('fdsf');
            var imgObj = new Image();
            imgObj.src = event.target.result;
            imgObj.onload = function () {
                // start fabricJS stuff

                var image = new fabric.Image(imgObj);
                image.set({
                    left: 250,
                    top: 250,
                    angle: 20,
                    padding: 10,
                    cornersize: 10
                });
                //image.scale(getRandomNum(0.1, 0.25)).setCoords();
                canvas.add(image);

                // end fabricJS stuff
            }

        }
        reader.readAsDataURL(e.target.files[0]);
    };
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }
    $("document").ready(function () {
        console.log("doc ready");
        var columns = GetURLParameter('columns');
        var design = GetURLParameter('design');
        var designid = GetURLParameter('designid');
        var userid = GetURLParameter('userid');
        // console.log("in kitchen, this is a list of columns");
        // console.log(columns);
        var designobj = eval("(" + decodeURI(design) + ')');
        console.log(designobj);
        var columnsobj = eval("(" + decodeURI(columns) + ')');
        console.log("in kitchen, this is the column array");
        console.log(columnsobj);
        for (i = 0; i < columnsobj.length; i++) {
            // console.log(columnsobj[i]);
            $('#fieldNames').append('<option value="' + columnsobj[i] + '">' + columnsobj[i] + '</option>');
        }
        if (designobj) {
            console.log("Going to load user design")
            canvas.loadFromJSON(designobj);
        }
   //     var links = document.getElementById('header').getElementsByTagName('a');
   //     var imageLoader = document.getElementById('imageLoader');
   //     imageLoader.addEventListener('change', handleImage, false);
   //     canvas.add(imageLoader);
   //     document.getElementById("uploadimage").addEventListener("change", draw, false)
   //     $('#state').change(function () {
   //     var columns = $.url().param('columns');
   //     columns = $('#kitchensinkiframe')[0].columns.split(',');
   //
   });


// (function() {
//           var frameBaseSRC = document.getElementById("kitchensinkiframe").src;
//           var frameQueryString = document.location.href.split("columns=")[1];
//           if (frameQueryString != undefined) {
//           document.getElementById("kitchensinkiframe").src = frameBaseSRC + "?columns=" + frameQueryString;
//         }
//         })();
//     });
</script>

</body>
</html>
