
body {
    margin: 0;
    background-color: #FDFDFD;
}
#canvas-wrapper {
    float:left;
    position: relative;

}
#textstyle  {
    float:left;
}
#text-wrapper    {
    float:right;
    position: relative;
}
#main{
    width: 100%;
}
.nav {
    background-color: #00ade6;
    width: 100%;
    height: 85px;
    margin: 0;
    padding: 5px;
}
.nav li{
    display: inline-block;
    margin-right: 15px;
    color: white;
    text-shadow: 1px 1px #aaa;
    vertical-align: text-top;
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    text-decoration:none !important;
    color: white;
}
.nav a:hover{
    font-size: 19px;
    color: aliceblue;
}
.container {
    width: 100%;
}
.header{
    width: 100%;
    overflow: hidden;
}
.footer{
    width:100%;
    position: absolute;
    bottom: 0;
    z-index:-2;
}
#footerImg {
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    margin: 0;
    overflow: hidden;

}
/*This is for the profile section*/
#updateform {
    margin-top: 50px;
}
#buttonsmargin  {
    margin-bottom: 0px;

}
#welcomename    {
    margin-top: 8px;
    margin-bottom: 6;
}
#profile {
    background-color: #FED100;
    border-radius: 5%;
    padding: 15px;
    margin-right:20px;
    margin-bottom: 20px;
    text-align: left;
    /*min-height: 700px;*/
}
#updateformmainpage {
    margin: 0;
}
#profilerow {

}
#profilemainpage {
    background-color: #FED100;
    /*padding: 15px;*/
    /*margin-right:20px;*/
    /*margin-bottom: 20px;*/
    text-align: center;
    /*min-height: 700px;*/
}
#profilemainpage h1 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
#profile h3{
    display: inline-block;
    margin: 4px;
    padding-left: 10px;
}
#profile h2{
    font-weight: bolder;
    text-align: center;
}
#cardexamplestall   {
    height: 275px;
    width: 175px;
    margin: 10px;
}
#cardexampleswide   {
    height: 175px;
    width: 275px;
    margin: 10px;
}
#mainpageheader h1 {
    font-size: 50px;
    text-align: center;
}
#mainpageheader h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: inline-block;
}
img#pic {
    position: absolute;
    right: 5px;
    top: 4px;
}
.logo {
    position: absolute;
    display: inline-block;
    top:5px;
    right:85px;
}
#cardinstructions   {
    margin: 0;
    padding: 0px;
    background-color: #00ade6;
    text-align: center;
    padding-bottom: 80px;

}
#stepbystep img {
    height: 300px;
    width: 425px;
}
#stepbystep ul  {
    padding: 0px;
    list-style-type: circle;
    list-style-position: inside;
}
.alert {
    padding:0;
    margin-top:10px;
    margin-bottom: 10px;
}
.hidden {
    visibility: collapse;
}

/*This is for the cardEditor section*/
/*This is 2x the size we want if we use html2pdf so we will need to set zoom at .5*/
/*http://www.html2pdf.it/?url=https%3A%2F%2Foutput.jsbin.com%2Ffurojaxaco&download=false&format=Letter&downloadToken=1487551500883&orientation=portrait&margin=0cm&zoom=0.5*/
.card-wrapper {
    box-sizing: border-box;
    border-color: black;
    border-width: thin;
    border-style: solid;
    height:610px;
    width: 384px;
    background-color: white;
    position: relative;
    margin-left: calc(50% - 192px);
    margin-right: calc(50% - 192px);
}
/*Ensure all objects in the card design will be absolutely positioned*/
.card-wrapper > * {
    position: absolute;
}
.spacer {
    box-sizing: border-box;
    height:1370px;
    width: 100%;
}
#preview{
    position:absolute;
    left:0;
    top:0;
    width:384px;
}
#preview .card-wrapper{
    border-style: none;
}
#nomargin {
    border:none;
    margin:none;
    padding:none;
}
#kitchensinkiframe  {
    background:none transparent;
    border-style: none;
    height: 670px;
    width:995px;
    margin:0 auto;
    display:block;
}
#videoinstruction   {
    background-color: #FED100;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 40px;
}
#videoinstruction h1    {
    font-size 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
#videoinstruction video  {
    width: 941px;
    height: 500px;
}
#registerform   {
    align-items: center;
}
